<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/stylesheets/new-game-interface.component.css">

</head>

<div class="newGame">
    <div>
        <h1>Curling</h1>
        <label><h3>Niveau:</h3></label>
        <div class="level" col-md-12>
            <label class="radio-inline"><input #normal type="radio" class = "normal" name="level"   (click)="pickLevel(0)"> Normal<br></label>
            <label class="radio-inline"><input #difficult type="radio" class = "difficile" name="level" (click)="pickLevel(1)"> Difficile<br></label>
        </div>
        <button *ngIf="normal.checked || difficult.checked" (click)="startGame()" class="btn btn-primary btn-block">Commencer</button>
    </div>

</div>

</html>